.container {
	width: 1080px;
	margin: 0 auto; 
}

.navigation {
	display: flex;
	justify-content: space-around;
}

.circle {
	border-radius: 50%;
	height: 200px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ccc;
}
.logo-rsschool {
	height: 30px;
}